body {
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/400/482/non_2x/food-delivery-application-online-on-mobile-3d-illustration-photo.jpg');
    background-size: cover;
    background-position: center;
    color: burlywood;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background:rgba(0, 0, 0, 0.5); /* Slightly transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: rgba(190, 5, 5, 0.589);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

button {
    padding: 5px 10px;
    background-color:rgb(246, 102, 25);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: burlywood;
}

.order-summary {
    margin-top: 10px;
}

.total {
    font-weight: bold;
}
